Repository rework-kr/REWORK-SERVER, pull requests merged in 2024-06, with the labels that each got.

#24 Feat/22 password update
  src/main/java/com/example/rework/config/security/SecurityConfig.java
  src/main/java/com/example/rework/global/ErrorCodes.java
  src/main/java/com/example/rework/global/GlobalExceptionHandler.java
  src/main/java/com/example/rework/global/error/PasswordUnchangedException.java
  src/main/java/com/example/rework/member/application/MemberService.java
  src/main/java/com/example/rework/member/application/impl/MemberServiceImpl.java
  src/main/java/com/example/rework/member/domain/Member.java
  src/main/java/com/example/rework/member/presentation/MemberController.java
  src/main/java/com/example/rework/member/restapi/MemberApi.java
  src/test/java/com/example/rework/member/application/impl/MemberServiceImplTest.java
  src/test/java/com/example/rework/member/fixture/MemberFixture.java
  src/test/java/com/example/rework/member/presentation/MemberControllerTest.java
  src/test/java/com/example/rework/monthlyagenda/fixture/MonthlyAgendaFixture.java
  src/test/java/com/example/rework/monthlyagenda/presentation/MonthlyAgendaControllerTest.java
Labels: Feat, test

#26 Feat/25 email list
  src/main/java/com/example/rework/config/security/SecurityConfig.java
  src/main/java/com/example/rework/discord/WebhookService.java
  src/main/java/com/example/rework/mail/application/impl/MailSenderServiceImpl.java
  src/main/java/com/example/rework/mail/infra/MailSenderApi.java
  src/main/java/com/example/rework/mail/presentation/MailSenderController.java
  src/main/java/com/example/rework/member/application/MemberService.java
  src/main/java/com/example/rework/member/application/dto/MemberResponseDto.java
  src/main/java/com/example/rework/member/application/dto/MemeberRequestDto.java
  src/main/java/com/example/rework/member/application/impl/MemberServiceImpl.java
  src/main/java/com/example/rework/member/domain/NonMemberEmail.java
  src/main/java/com/example/rework/member/domain/repository/NonMemberRepository.java
  src/main/java/com/example/rework/member/presentation/MemberController.java
  src/main/java/com/example/rework/member/restapi/MemberApi.java
  src/main/resources/application-local.yml
  src/main/resources/application-test.yml
  src/main/resources/templates/acceptEmail.html
  src/test/java/com/example/rework/mail/application/impl/MailSenderServiceImplTest.java
  src/test/java/com/example/rework/member/application/impl/MemberServiceImplTest.java
  src/test/java/com/example/rework/member/fixture/MemberFixture.java
  src/test/java/com/example/rework/member/presentation/MemberControllerTest.java
Labels: Feat, test

#28 Feat/27 user info
  src/main/java/com/example/rework/member/application/MemberService.java
  src/main/java/com/example/rework/member/application/dto/MemberResponseDto.java
  src/main/java/com/example/rework/member/application/impl/MemberServiceImpl.java
  src/main/java/com/example/rework/member/domain/Member.java
  src/main/java/com/example/rework/member/presentation/MemberController.java
  src/main/java/com/example/rework/member/restapi/MemberApi.java
  src/test/java/com/example/rework/member/application/impl/MemberServiceImplTest.java
  src/test/java/com/example/rework/member/presentation/MemberControllerTest.java
Labels: Feat, test

#31 Fix/30 read agenda
  src/main/java/com/example/rework/dailyagenda/application/DailyAgendaService.java
  src/main/java/com/example/rework/dailyagenda/application/dto/DailyAgendaRequestDto.java
  src/main/java/com/example/rework/dailyagenda/application/dto/DailyAgendaResponseDto.java
  src/main/java/com/example/rework/dailyagenda/application/impl/DailyAgendaServiceImpl.java
  src/main/java/com/example/rework/dailyagenda/presentation/DailyAgendaController.java
  src/main/java/com/example/rework/dailyagenda/restapi/DailyAgendaApi.java
  src/main/java/com/example/rework/monthlyagenda/application/MonthlyAgendaService.java
  src/main/java/com/example/rework/monthlyagenda/application/dto/MonthlyAgendaRequestDto.java
  src/main/java/com/example/rework/monthlyagenda/application/impl/MonthlyAgendaServiceImpl.java
  src/main/java/com/example/rework/monthlyagenda/presentation/MonthlyAgendaController.java
  src/main/java/com/example/rework/monthlyagenda/restapi/MonthlyAgendaApi.java
  src/test/java/com/example/rework/dailyagenda/application/impl/DailyAgendaServiceImplTest.java
  src/test/java/com/example/rework/dailyagenda/fixture/DailyAgendaFixture.java
  src/test/java/com/example/rework/dailyagenda/presentation/DailyAgendaControllerTest.java
  src/test/java/com/example/rework/monthlyagenda/application/impl/MonthlyAgendaServiceImplTest.java
  src/test/java/com/example/rework/monthlyagenda/fixture/MonthlyAgendaFixture.java
  src/test/java/com/example/rework/monthlyagenda/presentation/MonthlyAgendaControllerTest.java
Labels: hotfix, test

#34 FIX:: dailyagenda조회 dto id명 변경
  src/main/java/com/example/rework/dailyagenda/application/dto/DailyAgendaResponseDto.java
  src/test/java/com/example/rework/dailyagenda/presentation/DailyAgendaControllerTest.java
Labels: hotfix
