Repository rework-kr/REWORK-SERVER, pull requests merged in 2024-05, with the labels that each got.

#11 Feat/8 email
  build.gradle
  src/main/java/com/example/rework/auth/jwt/JwtAuthorizationFilter.java
  src/main/java/com/example/rework/auth/jwt/MemberDetails.java
  src/main/java/com/example/rework/config/mail/MailConfig.java
  src/main/java/com/example/rework/config/security/SecurityConfig.java
  src/main/java/com/example/rework/discord/WebhookService.java
  src/main/java/com/example/rework/global/ErrorCodes.java
  src/main/java/com/example/rework/global/GlobalExceptionHandler.java
  src/main/java/com/example/rework/global/error/InvalidDiscordMessage.java
  src/main/java/com/example/rework/mail/MailPurpose.java
  src/main/java/com/example/rework/mail/application/MailSenderService.java
  src/main/java/com/example/rework/mail/application/dto/MailRequestDto.java
  src/main/java/com/example/rework/mail/application/impl/MailSenderServiceImpl.java
  src/main/java/com/example/rework/mail/infra/MailSenderApi.java
  src/main/java/com/example/rework/mail/presentation/MailSenderController.java
  src/main/java/com/example/rework/mail/restapi/EmailApi.java
  src/main/java/com/example/rework/mail/utils/GeneRateRandomPassword.java
  src/main/java/com/example/rework/member/application/impl/MemberServiceImpl.java
  src/main/java/com/example/rework/member/domain/Member.java
  src/main/java/com/example/rework/member/presentation/MemberController.java
  src/main/java/com/example/rework/member/restapi/MemberApi.java
  src/main/resources/application-local.yml
  src/main/resources/application-test.yml
  src/main/resources/db/data.sql
  src/main/resources/templates/acceptEmail.html
  src/test/java/com/example/rework/mail/application/impl/MailSenderServiceImplTest.java
  src/test/java/com/example/rework/member/presentation/MemberControllerTest.java
Labels: Feat, test

#12 Chore:: swagger config setting
  src/main/java/com/example/rework/config/swagger/SwaggerConfig.java
Labels: config

#14 Config/13 cicd
  Jenkinsfile
  dockerfile
Labels: Docker, CICD

#15 Feat/9 monthly agenda
  src/main/java/com/example/rework/MonthlyAgenda/application/MonthlyAgendaService.java
  src/main/java/com/example/rework/MonthlyAgenda/application/dto/MonthlyAgendaRequestDto.java
  src/main/java/com/example/rework/MonthlyAgenda/application/dto/MonthlyAgendaResponseDto.java
  src/main/java/com/example/rework/MonthlyAgenda/application/impl/MonthlyAgendaServiceImpl.java
  src/main/java/com/example/rework/MonthlyAgenda/domain/MonthlyAgenda.java
  src/main/java/com/example/rework/MonthlyAgenda/domain/repository/MonthlyAgendaRepository.java
  src/main/java/com/example/rework/MonthlyAgenda/presentation/MonthlyAgendaController.java
  src/main/java/com/example/rework/MonthlyAgenda/restapi/MonthlyAgendaApi.java
  src/main/java/com/example/rework/config/security/SecurityConfig.java
  src/main/java/com/example/rework/config/security/SecurityUtils.java
  src/main/java/com/example/rework/global/ErrorCodes.java
  src/main/java/com/example/rework/global/GlobalExceptionHandler.java
  src/main/java/com/example/rework/global/error/NotFoundAgendaException.java
  src/main/java/com/example/rework/member/domain/Member.java
  src/main/java/com/example/rework/member/presentation/MemberController.java
  src/main/java/com/example/rework/member/restapi/MemberApi.java
  src/test/java/com/example/rework/MonthlyAgenda/fixture/MonthlyAgendaFixture.java
  src/test/java/com/example/rework/MonthlyAgenda/presentation/MonthlyAgendaControllerTest.java
  src/test/java/com/example/rework/monthlyagenda/application/impl/MonthlyAgendaServiceImplTest.java
  src/test/java/com/example/rework/util/ControllerTestSupport.java
Labels: Feat, test

#16 [Fix] MonthlyAgenda Test 수정
  src/main/java/com/example/rework/MonthlyAgenda/application/MonthlyAgendaService.java
  src/main/java/com/example/rework/MonthlyAgenda/application/dto/MonthlyAgendaRequestDto.java
  src/main/java/com/example/rework/MonthlyAgenda/application/dto/MonthlyAgendaResponseDto.java
  src/main/java/com/example/rework/MonthlyAgenda/application/impl/MonthlyAgendaServiceImpl.java
  src/main/java/com/example/rework/MonthlyAgenda/domain/MonthlyAgenda.java
  src/main/java/com/example/rework/MonthlyAgenda/domain/repository/MonthlyAgendaRepository.java
  src/main/java/com/example/rework/MonthlyAgenda/presentation/MonthlyAgendaController.java
  src/main/java/com/example/rework/MonthlyAgenda/restapi/MonthlyAgendaApi.java
  src/main/java/com/example/rework/member/domain/Member.java
  src/test/java/com/example/rework/MonthlyAgenda/fixture/MonthlyAgendaFixture.java
  src/test/java/com/example/rework/MonthlyAgenda/presentation/MonthlyAgendaControllerTest.java
  src/test/java/com/example/rework/monthlyagenda/application/impl/MonthlyAgendaServiceImplTest.java
  src/test/java/com/example/rework/util/ControllerTestSupport.java
Labels: hotfix, test

#20 Refactor:: swagger login api config setting
  src/main/java/com/example/rework/config/swagger/SwaggerConfig.java
  src/main/resources/db/data.sql
Labels: refactor
